<!DOCTYPE html>
<html lang="en">

<head>
  {%- block head %}
  {%- block metas %}
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='assets/img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    {% block title %}DEMO{% endblock title %}
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  {%- endblock metas %}
  {%- block fonts %}
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  {%- endblock fonts %}
  {%- block styles %}
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='assets/css/paper-dashboard.css') }}" rel="stylesheet" />
  {%- endblock styles %}
  {%- endblock head %}
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="primary">
      {% block sidebar %}

      {% endblock sidebar %}
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        {% block navbar %}

        {% endblock navbar %}
      </nav>
      <div class="content">
        {% block content %}

        {% endblock content %}
      </div>
      <footer class="footer footer-black  footer-white ">
        {% block footer %}
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">

            </nav>
          </div>
        </div>
        {% endblock footer %}
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  {% block scripts %}
  <script src="{{ url_for('static', filename='assets/js/core/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
  <!-- Chart JS -->
  <script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='assets/js/plugins/bootstrap-notify.js') }}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static', filename='assets/js/paper-dashboard.min.js') }}" type="text/javascript"></script>
  {%- endblock scripts %}
</body>

</html>