{% extends "base.html" %}

{% block sidebar %}
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="{{ url_for('static', filename='assets/img/logo-small.png') }}">
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
      {{ current_user.full_name }}
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li {% if menu_option == url_for('.temperatura') %}class="active"{% endif %}>
        <a href="{{ url_for('.temperatura') }}">
          <i class="nc-icon nc-globe-2"></i>
          <p>Temperatura</p>
        </a>
      </li>
      <li {% if menu_option == url_for('.humedad') %}class="active"{% endif %}>
        <a href="{{ url_for('.humedad') }}">
          <i class="nc-icon nc-chart-bar-32"></i>
          <p>Humedad</p>
        </a>
      </li>
      <li {% if menu_option == url_for('.evapotranspiracion') %}class="active"{% endif %}>
        <a href="{{ url_for('.evapotranspiracion') }}">
          <i class="nc-icon nc-compass-05"></i>
          <p>Evapotranspiración</p>
        </a>
      </li>
      <li {% if menu_option == url_for('.pronostico') %}class="active"{% endif %}>
        <a href="{{ url_for('.pronostico') }}">
          <i class="fa fa-line-chart"></i>
          <p>Pronóstico</p>
        </a>
      </li>
      <!--<li>-->
        <!--<a href="./user.html">-->
          <!--<i class="nc-icon nc-single-02"></i>-->
          <!--<p>User Profile</p>-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </div>
{% endblock sidebar %}

{% block navbar %}
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="#">DEMO</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <!--<form>-->
        <!--<div class="input-group no-border">-->
          <!--<input type="text" value="" class="form-control" placeholder="Search...">-->
          <!--<div class="input-group-append">-->
            <!--<div class="input-group-text">-->
              <!--<i class="nc-icon nc-zoom-split"></i>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
      <ul class="navbar-nav">
        <!--<li class="nav-item btn-rotate dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="nc-icon nc-bell-55"></i>-->
            <!--<p>-->
              <!--<span class="d-lg-none d-md-block">Alertas</span>-->
            <!--</p>-->
          <!--</a>-->
          <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn-rotate" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="nc-icon nc-settings-gear-65"></i>
            <p>
              <span class="d-lg-none d-md-block">Cuenta</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('.profile') }}">Editar información personal</a>
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">{{ _('Cerrar sesión') }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock navbar %}
