{% extends "base_without_nav.html" %}

{% block title %}Login{% endblock %}
{% block body %}
<div class="main-panel login-page">
    <div class="content">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-header ">
                        <h5 class="card-title text-center">Login</h5>
                    </div>
                    <div class="card-body ">
                        <form method="post">
                            <div class="row">
                                {{ form.csrf_token }}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Usuario o Email</label>
                                        {{ form.email(class_="form-control", placeholder=_('Email'), required="true") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        {{ form.password(class_="form-control", placeholder=_('Password')) }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group float-right">
                                        <a href="#" class="text-primary">Olvidé mi contraseña</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    {{ form.submit(class_="btn btn-primary btn-round") }}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
