{% extends "base_nav.html" %}

{% block title %}DEMO{% endblock title %}

{% block content %}
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript" charset="UTF-8">
Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Pronóstico temperatura diaria promedio'
    },
    subtitle: {
        text: 'Source: Agromet'
    },
    xAxis: {
        categories: {{ mediciones.get('fechas', [])|safe }}
    },
    yAxis: {
        title: {
            text: 'Temperatura (°C)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Temperatura',
        data: {{ mediciones.get('temperatura', []) }}
    }]
});
</script>
{% endblock scripts %}
