{% extends "base_nav.html" %}

{% block title %}DEMO{% endblock title %}

{% block content %}
<form class="form" role="form" action="" method="post">
    <div class="row">
        <div style="display:none;">{{ form.csrf_token }}</div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 form-group">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
            <label class="control-label" for="inicio">{{ _('Inicio') }}</label>
            {{ form.inicio(class_='form-control datetimepicker-input', data_toggle="datetimepicker", data_target="#inicio") }}
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
            <label class="control-label" for="termino">{{ _('Termino') }}</label>
            {{ form.termino(class_='form-control datetimepicker-input', data_toggle="datetimepicker", data_target="#termino") }}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 form-group">
            {{ form.submit(class_='btn btn-default', style='margin-top: 12%') }}
        </div>
    </div>
</form>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" charset="UTF-8">
$(function () {
    $('#inicio').daterangepicker({
        singleDatePicker: true,
        "locale": {
            "format": "DD-MM-YYYY",
            "separator": " - ",
            "applyLabel": "Aplicar",
            "cancelLabel": "Cancel",
            "fromLabel": "Desde",
            "toLabel": "Hasta",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        }
    });
    $('#termino').daterangepicker({
        singleDatePicker: true,
        "locale": {
            "format": "DD-MM-YYYY",
            "separator": " - ",
            "applyLabel": "Aplicar",
            "cancelLabel": "Cancel",
            "fromLabel": "Desde",
            "toLabel": "Hasta",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        }
    });
    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Temperatura diaria promedio'
        },
        subtitle: {
            text: 'Source: Agromet'
        },
        xAxis: {
            categories: {{ mediciones.get('fechas', [])|safe }}
        },
        yAxis: {
            title: {
                text: 'Temperatura (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Temperatura',
            data: {{ mediciones.get('temperatura', []) }}
        }]
    });
});
</script>
{% endblock scripts %}
