{% extends "basenav.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="box box-success">

    <div class="box-header with-border">
        <h3 class="box-title">{{ _('User') }}</h3>
    </div>

    <form action="" method="post" class="form" role="form" enctype="multipart/form-data" autocomplete="false">
        <div class="box-body">
            <!--<div class="row">-->
            {#{{ wtf.quick_form(form) }}#}

            <div style="display:none;">{{ form.csrf_token }}</div>
            <div class="col-md-12 form-group">
                <label class="control-label" for="role">{{ _('Role') }}</label>
                {{ form.role(class_='form-control') }}
            </div>
            <div class="col-md-12 form-group required">
                <label class="control-label" for="email">{{ _('Email') }}</label>
                {{ form.email(class_='form-control') }}
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label" for="full_name">{{ _('Fullname') }}</label>
                {{ form.full_name(class_='form-control') }}
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label" for="national_id">{{ _('RUT/DNI') }}</label>
                {{ form.national_id(class_='form-control') }}
            </div>
            <div class="col-md-12 form-group">
                <label class="control-label" for="password">{{ _('Password') }}</label>
                {{ form.password(class_='form-control', autocomplete='false') }}
                {% if form.password.errors %}
                <span class="help-block">Contraseña es obligatoria</span>
                {% endif %}
            </div>
            <div class="col-md-12 form-group">
                {{ form.random_password() }}
                <label class="control-label" for="random_password">{{ _('Random password') }}</label>
            </div>
        </div>

        <div class="box-footer clearfix">
            <div class="col-md-1 form-group required">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
            <div class="col-md-11">
                <a href="{{ url_for('.users') }}" class="btn btn-default">{{ _('Cancel') }}</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$(document).ready(function() {
    {% for field, errors in form.errors.items() %}
    $('#{{ field }}').parent().addClass('has-error');
    $('#{{ field }}').change(function() {
        $('#{{ field }}').parent().removeClass('has-error');
        $('#{{ field }}').siblings('.help-block').remove();
    });
    {% endfor %}
    function request(obj, url) {
        return $.ajax({
            url: url,
            data: obj,
            method: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    };
    $("#random_password").change(function() {
        if (this.checked) {
            $("#password").val("");
            $("#password").attr("disabled", true);
        } else {
            $("#password").attr("disabled", false);
        }
    });
    $('select').select2();
});
</script>
{% endblock scripts %}