{% extends "basenav.html" %}
{% from 'macros.html' import model_actions %}


{% block content_header -%}

{%- endblock content_header %}


{% block content -%}
<div class="box box-success">

    <div class="box-header with-border">
        <h3 class="box-title">{{ _('Users') }}</h3>
    </div>

    <div class="box-body">
    {% if pagination.items %}
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>{{ _('ID') }}</th>
                        <th>{{ _('Fullname') }}</th>
                        <th>{{ _('Email') }}</th>
                        <th>{{ _('Role') }}</th>
                        <th>{{ _('Actions') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in pagination.items %}
                <tr class="user-row">
                    <td>{{ user.id }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <th>{{ roles[user.role] }}</th>
                    <td>{{ model_actions(user) }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {#{{ pager(pagination, '.users') }}#}
        </div>
    {% endif %}
    </div>

    <div class="box-footer clearfix">
        <a href="{{ url_for('.user_edit') }}" class="btn btn-primary" role="button">{{ _('New') }}</a>
    </div>

</div>
{%- endblock content %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('table').dataTable();
    });
</script>
{%  endblock scripts %}